/* bilibili视频卡片 */
.bvideo .bvideo-info {
  padding: 10px 0;
}
.bvideo .partition {
  display: flex !important;
  top: unset !important;
  bottom: 0px !important;
  transform: translate(0, -50%);
}
.bvideo .card-label {
  width: max-content !important;
  height: max-content !important;
}
